*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-gray-strip{
    width:100vw;
    height: 11vh;
    background-color: lightgray; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:1%;
}

.small-blue-box{
    height: 3.5em;
    width: 3.5em;
    background-color: lightskyblue;
}

.first-paragraph{
    padding: .5em;
}

.second-paragraph{
    padding: .5em;
    margin-bottom: auto;
}

.second-blue-box{
    width:100vw;
    height: 20vh;
    background-color: lightskyblue;
}

.third-teal-box{
    width:100vw;
    height: 20vh;
    background-color: aquamarine;
}

.fourth-green-box{
    width: 100vw;
    height: 20vh;
    background-color: lightgreen;
}

.fifth-yellow-box{
    width: 100vw;
    height: 20vh;
    background-color: yellowgreen;
}

